%%{sub_dirs, ["rel"]}.

{require_otp_vsn, "R15"}.

{cover_enabled, true}.

%% {erl_opts, [debug_info, fail_on_warning]}.

{deps, [
		{'cowboy', "0.6.*", {git, "git://github.com/extend/cowboy.git", "master"}},
		{'fission', ".*", {git, "git://github.com/manpages/fission.git", "master"}},
		{'erlydtl', "0.7.*", {git, "git://github.com/evanmiller/erlydtl.git", "master"}}
]}.
